@model CadastroElogin.Models.Usuario

@{
	ViewData["Title"] = "Registrar-se";
}

<h1>Cadastro de Usuario</h1>

<h4></h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Nome" class="control-label"></label>
				<input asp-for="Nome" class="form-control" />
				<span asp-validation-for="Nome" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Sobrenome" class="control-label"></label>
				<input asp-for="Sobrenome" class="form-control" />
				<span asp-validation-for="Sobrenome" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="sexo">
				<label>Sexo</label>
			</div>
			<div class="custom-control custom-radio">
				<input asp-for="Sexo" type="radio" class="custom-control-input" id="masc" name="Sexo" value="Masculino">
				<label asp-for="Sexo" class="custom-control-label" for="masc">Masculino</label>
				<span asp-validation-for="Sexo" class="text-danger"></span>
			</div>
			<div class="custom-control custom-radio">
				<input asp-for="Sexo" type="radio" class="custom-control-input" id="fem" name="Sexo" value="Feminino">
				<label asp-for="Sexo" class="custom-control-label" for="fem">Feminino</label>
				<span asp-validation-for="Sexo" class="text-danger"></span>
			</div>
			<div class="custom-control custom-radio">
				<input asp-for="Sexo" type="radio" class="custom-control-input" id="outr" name="Sexo" value="Outro">
				<label asp-for="Sexo" class="custom-control-label" for="outr">Outro</label>
				<span asp-validation-for="Sexo" class="text-danger"></span>
			</div>
			<br/>
			<div class="form-group">
				<label asp-for="Senha" class="control-label"></label>
				<input asp-for="Senha" class="form-control" type="password" />
				<span asp-validation-for="Senha" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input onclick="mensagem()" type="submit" value="Cadastrar" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-controller="Vagas" asp-action="Index">Voltar</a>
</div>
<script src="~/js/~/js/site.js"></script>
@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
