@{
    ViewData["Title"] = "Encontre sua Vaga";
}
<h1>@ViewData["Title"]</h1>

<div class="container">

    <div class="row">

        <div class="col-md-12 text-center">
            <img src="~/lib/imagens/138709197_10159099814303619_4911847146124205615_n.jpg" style="width:200px; height:200px;"/>
            <p class="text-center"> <strong>ONG Recode</strong></p>
            <p>Fundada há 25 anos, a Recode está presente em 9 países com 1.152 centros de empoderamento digital e já atingiu mais de 1,752 milhão de pessoas. Atuamos em parceria com centros comunitários, escolas públicas e bibliotecas, que oferecem nossa metodologia para desenvolver nos jovens habilidades digitais e competências socioemocionais, estimulando o protagonismo e o potencial da nova geração como agentes de transformação social.</p>
            <a href="https://localhost:44396/Usuarios/Create" class="btn btn-primary" role="button">Candidatar-se</a>
        </div>


        <br />
        <br />

        <div class="col-md-12 text-center">

            <img src="~/lib/imagens/recode-abre-360-vagas-para-cursos-online-gratuitos-em-programacao-1200x675.jpg" style="width:200px; height:200px;"/>
            <p class="text-center"> <strong>RecodePro</strong></p>
            <p>
                O Programa Recode Pro visa a formação e a empregabilidade de pessoas de 18 a 39 anos, em situação de maior vulnerabilidade social, como programadores full stack.
                Além do conteúdo técnico, são desenvolvidos temas como criatividade, comunicação, atuação profissional, e a metodologia proposta se baseia na colaboração e na construção de projetos para a resolução de problemas sociais.
            </p>
            <a href="https://localhost:44396/Usuarios/Create" class="btn btn-primary" role="button">Candidatar-se</a>

        </div>

        <br />
        <br />

        <div class="col-md-12 text-center">

            <img src="~/lib/imagens/microsoft-logo-empresa.png" style="width:200px; height:200px"/>
            <p class="text-center"> <strong>Microsoft</strong></p>
            <p>Microsoft Corporation é uma empresa transnacional dos Estados Unidos com sede em Redmond, Washington, que desenvolve, fabrica, licencia, apoia e vende softwares de computador, produtos eletrônicos, computadores e serviços pessoais.</p>
            <a href="https://localhost:44396/Usuarios/Create" class="btn btn-primary" role="button">Candidatar-se</a>

        </div>
    </div>
</div>
